@font-face {
    font-family: "Lucida Sans";
    src: url(./assets/fonts/PTC55F.ttf);
}
@font-face {
    font-family: "Segoe";
    src: url(./assets/fonts/segoe-wp-light.ttf);
}
@font-face {
    font-family: 'Asap';
    src: url(./assets/fonts/Asap-Regular.otf);
}
@font-face {
    font-family: "OpenSans";
    src: url(./assets/fonts/Asap-Regular.otf);
}
@font-face {
    font-family: 'PTSans';
    src: url(./assets/fonts/PTS55F.ttf);
}
body {
    margin: 0;
}
h1, ul {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1020px;
    margin: auto;
}
/* <header> */
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.logo h1 {
    margin-top: 9px;
    margin-left: 3px;
    font-family: "Lucida Sans", sans-serif;
    font-size: 42px;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 112px;
}

.list {
    display: flex;
    box-shadow: -4px -5px 0px 0px #f5c5065e,
                -8px -8px 0px 0px #f5c50644;
}
.list-item:nth-child(1) {
    width: 172px;
    padding-right: 21px;
    border-right: 1px solid #33322d44;
}
.list-item:nth-child(1) p {
    margin-left: 10px;
}

.list-item:nth-child(2) {
    width: 134px;
    padding-right: 18px;
    border-right: 1px solid #33322d44;
}
.list-item:nth-child(2) p {
    margin-left: 9px;
}
.list-item:nth-child(3) {
    width: 147px;
    padding-right: 21px;
}
.list-item:nth-child(3) p {
    margin-left: 11px;
}
.list-item:nth-child(3) img {
    margin-top: -1px;
}
.list-item {
    display: flex;
    justify-content: flex-end;
    height: 41px;
    box-sizing: border-box;
    list-style: none;
    background: #f5c506;
}
.list-item a {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a78708;
}

/* </header> */

/* <welcome-section> */
.welcome-section-wrapper {
    margin-top: -112px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding-bottom: 67px;
    padding-top: 164px;
    background: url(./assets/img/header-bg.png) no-repeat;
    background-size: cover;
}
.welcome-section {
    display: flex;
    width: 100%;
    align-items: center;
}
.welcome-section video {
    max-width: 557px;
    margin-left: 5px;
}
.welcome-section h1 {
    margin-bottom: 29px;
    margin-left: 41px;
    text-align: center;
    font-family: "Asap";
    font-size: 62px;
    font-weight: 100; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.welcome-span {
    color: #f5c506;
}

.welcome-section-wrapper button {
    width: 32px;
    height: 57px;
    margin-bottom: 7px;
    padding-right: 9px;
    border: none;
    background: #c5a00c;
}
/* </welcome-section> */

/* <icon-section> */
.icon-section {
    display: flex;
    height: 212px;
}
.icon-section-wrapper {
    background: url(./assets/img/icons-bg.png) center;
    width: 100%;
    box-shadow: 0px -2px 7px black;
}
.icon-section figure {
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.icon-section figure:first-child {
    border-left: 1px solid #0000004a;
    border-right: 1px solid #0000004a;
}
.icon-section figure:last-child {
    border-left: 1px solid #0000004a;
    border-right: 1px solid #0000004a;
}
figcaption {
    margin-bottom: 32px;
    font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    margin-left: 19px;
    margin-top: 9px;
}
/* </icon-section> */

/* <scroll-section> */
.scroll-section-wrapper {
    width: 100%; 
    padding-top: 30px;
    background: url(./assets/img/scroll-bg.png) repeat;
    background-size: cover;
}
h3,p {
    margin: 0;
}
h2 {
    margin: 0 0 32px 0;
    margin-bottom: 32px;
    font-size: 37px;
    font-family: "PTSans";
    font-weight: 200;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.scroll {
    display: flex;
}

.text {
    width: 311px;
    height: 216px;
    padding-top: 16px;
    padding-left: 30px;
    font-size: 29px;
    line-height: 1.308;
    text-align: left; 
    font-family: "Segoe";
    background: #f09f07;
    color: rgb(255, 255, 255);
}
.share {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 331px;
    height: 232px;
    margin-left: auto;
    background: #f09f07;
}

.tooltip {
    position: relative;
    top: 31px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 86px;
    background: #ddb101;
}
.tooltip h3 {
    margin: 11px 0 3px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 51px;
    line-height: 81%;
    color: #fff;
}
.tooltip p {
    margin-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    color: #bd7b20;
}

.scroll-item button {
    position: relative;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background: inherit;
    color: #fff;
}
.text button {
    top: -95px;
    left: 278px;
}
.number {
    position: relative;
    top: 11px;
    left: 133px;
    font-family: "Segoe";
    font-size: 25px;
    color: #fff;
}
.share button {
    top: -4px;
    left: 149px;
}
.share img {
    margin-top: 10px;
}
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 90%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin-left: 5%;
    margin-top: 126px;
    margin-bottom: 22px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 90%;
    cursor: pointer;
    margin-left: 5%;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 197px;
    border-radius: 7.5px;
    border: none;
    background: #ec9e03;
    cursor: pointer;
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 197px;
    border-radius: 7.5px;
    border: none;
    background: #ec9e03;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 15px;
    width: 197px;
    border-radius: 7.5px;
    border: none;
    background: #ec9e03;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15xpx;
    cursor: pointer;
    background: #fbe798;
    border-radius: 7.5px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fbe798;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #fbe798;
    border-radius: 7.5px;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #fbe798;
    border-radius: 7.5px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fbe798;
  }
  input[type=range]::-ms-fill-upper {
    background: #fbe798;
    border-radius: 7.5px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #fbe798;
  }
  .share-form {
      display: none;
  }
  /* </scroll-section> */
  /* <section-2> */
  .section-2-wrapper {
    width: 100%;
    background: url(./assets/img/section-2-bg.png) no-repeat;
    background-size: cover;
 }

 .section-2 {
     padding-top: 35px;
     padding-bottom: 60px;
 }
 .section-2 h2 {
    margin-bottom: 3px;
    text-align: center;
    font-size: 42px;
    color: #f5c506;
 }

.section-2 ul {
   margin-left: 77px;
   margin-top: 87px;
}

.section-2 li {
   margin-bottom: 22px;
   list-style: none;
   font-family: "OpenSans";
   font-size: 22px;
   color: #a3a3a1;
}

.circle {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 21px;
    border-radius: 50%;
    background: #f5c506;
}
 .section-2-block {
     display: flex;
 }
/* </section-2> */
  .footer-wrapper {
    background: #4c4c4c;
    box-shadow: 0px -1px 4px 1px black;
  }
  .footer {
        padding: 7px 0;
      display: flex;
      align-items: center;
  }
  .footer img {
      height: 54px;
      width: 54px;
      margin-right: 9px;
  }

  .footer h1 {
      font-family: "Lucida Sans";
      font-size: 22px;
      font-style: italic;
      font-weight: 100;
      text-transform: uppercase;
      color: #fff;
  }